<% provide(:title, "Home") %>

<h1><%= image_tag("welcome_vn.gif",:width => 250, :height => 90) %></h1>

<%= image_tag("home.jpg",:width => 1250, :height => 768) %><br/>
<br/>
<b>Click the below links thats navigates to other pages</b><br/>
<%= link_to 'Contact Information',contact_us_contactUs_path %><br/>
<%= link_to 'Weather Information',weather_report_weatherReport_path %><br/>


  
